footer {
  background-color: rgb(94, 0, 58);
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.col {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.foo-title {
  font-size: 32px;
  padding-bottom: 2rem;
  color: #fff;
}
.col a {
  color: #fff;
  padding: 1rem 0;
}
.col a:hover {
  color: rgb(19, 188, 255);
  transition: 0.4s ease-in-out;
}
footer .line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin: 1rem 0;
}
.info {
  padding: 2rem 0;
  text-align: center;
  color: #fff;
}
.info h2 {
  padding-bottom: 2rem;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .foo-title {
    font-size: 25px;
    padding-bottom: 1rem;
  }
  .col {
    width: 100%;
    margin-left: 0;
  }
  .col a {
    padding: 0.5rem 0;
  }
}
