@import "./reset.css";
@import "./header.css";
@import "./banner.css";
@import "./footer.css";
@import "./search.css";
section {
  margin: 4rem;
  overflow: hidden;
}
.sec-title {
  position: relative;
}
.sec-title h2 {
  position: relative;
  line-height: 1.5;
  padding: 0 2rem 0;
  display: inline-block;
  margin-left: 10rem;
  font-size: 4rem;
  z-index: 99;
  background-color: #ffff;
}
.sec-title div {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 0.3rem;
  z-index: 0;
  background-color: rgb(85, 2, 57);
}
@media screen and (max-width: 768px) {
  section {
    margin: 3rem 2rem;
  }
  .sec-title h2 {
    font-size: 2rem;
    padding: 1rem;
  }
}
.tour-on .content {
  margin-top: 4rem;
  position: relative;
  background-color: rgba(204, 204, 204, 0.507);
}
.content .row {
  display: flex;
  flex-wrap: wrap;
}
.tour-on .content .row {
  height: 100%;
  padding: 1rem;
  margin-left: -2rem;
}
.col-50 {
  background-color: #ffff;
  margin-left: 2rem;
  width: calc(50% - 2rem);
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tour-on .box-X {
  height: 400px;
  width: 100%;
}
.tour-on .list-img {
  margin-top: 2rem;
  display: flex;
  margin-left: -1rem;
}
.tour-on .list-img div {
  margin-left: 1rem;
  width: calc(33.33% - 1rem);
  height: 120px;
}
.box-item {
  background-color: rgb(128, 4, 133);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.5rem;
  flex: 1;
  color: #ffff;
}
.box-item h4 {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.box-X .tour-title {
  padding: 4rem;
  text-align: center;
}
.box-X .tour-title h2 {
  padding-bottom: 1rem;
}
.box-X .tour-info {
  padding-left: 2rem;
  line-height: 2;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  text-align: start;
}
.tour-on img,
.box-item {
  box-shadow: rgba(24, 24, 37, 0.377) 0px 2px 5px 1px,
    rgba(0, 0, 0, 0.5) 0px 1px 3px 1px;
}
.tour-list .row {
  position: relative;
  padding: 2rem 0.5rem;
  margin-left: -2rem;
}
.tour-list .col-3 {
  margin-left: 2rem;
  width: calc(33.333% - 2rem);
}
.tour-list .tour-item {
  margin-top: 2rem;
  box-shadow: rgba(60, 64, 67, 0.5) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.692) 0px 1px 3px 1px;
}
.tour-list .tour-item:hover img {
  transform: scale(1.1);
  transition: 1s ease-out;
}
.tour-list .tour-item .tour-box-img {
  max-height: 300px;
  position: relative;
  overflow: hidden;
}
.tour-list .tour-item .price,
.tour-list .tour-item .rank {
  position: absolute;
  font-size: 17px;
  font-weight: 500;
  bottom: 0rem;
  right: 0rem;

  padding: 6px;
}
.tour-list .tour-item .rank {
  display:flex;
  background-color: rgba(0, 0, 0, 0.671);
}
.tour-list .tour-item .rank i{
  font-size: 2rem;
  margin-left: .5rem;
  color: yellow;
}
.tour-list .tour-item .price {
  background-color: rgba(38, 89, 255, 0.801);
  color: #ffff;
}
.hot {
  position: absolute;
  padding: 0.6rem;
  color: #ffff;
  background-color: red;
  top: 3rem;
}
.hot::before,
.hot::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 60%;
  top: 0;
  left: 99%;
  background-color: rgb(255, 0, 0);
}
.hot::after {
  clip-path: polygon(100% 1%, 0% 50%, 0 0);
}
.hot::before {
  clip-path: polygon(100% 100%, 0 50%, 0 100%);
}
.tour-list .tour-box-info {
  padding: 2rem 0;
}
.tour-box-info a h4 {
  color: #000;
  font-weight: 600;
  font-size: 18px;
  padding-bottom: 1rem;
  text-align: center;
}
.tour-box-info a h4:hover {
  cursor: pointer;
  color: rebeccapurple;
  transition: 0.5s;
}
.tour-box-info p {
  padding: 0.5rem 2rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .content .row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
  }
  .col-50 {
    width: 100%;
  }
  .tour-on .content,
  .tour-list.content {
    background-color: #ffff;
    margin-left: -1rem;
  }
  .box-item h4 {
    font-size: 1.5rem;
  }
  .box-item em {
    padding: 0 1rem;
    font-size: 14px;
    word-break: break-all;
  }
  .box-X .tour-info {
    padding-top: 1rem;
    font-size: 14px;
  }
  .box-X .tour-title {
    padding: 0 1rem;
  }
  .tour-on .box-X {
    height: 250px;
  }
  .tour-list .col-3 {
    width: 90%;
  }
}
